{% extends "layouts/application.jinja2" %}

{% block content %}
  <p class="pure-text-center"><img src="{{ static('images/ok_email.png') }}" alt="Email ok"></p>
  <p class="pure-text-center">Your account is now activated.</p>
{% endblock %}
