{% extends "layouts/application.jinja2" %}

{% block meta %}
  <meta http-equiv="refresh" content="3;url={{ url_for('home') }}">
{% endblock %}

{% block content %}
  <p class="pure-text-center"><img src="{{ static('images/goodbye.png') }}" alt="Goodbye" style="max-width: 250px"></p>
  <p class="pure-text-center">
    Logged out. You will be redirected to the home page about a few seconds...
  </p>
{% endblock %}
