{% extends "layouts/application.jinja2" %}

{% block content %}
  <p class="pure-text-center"><img src="{{ static('images/send_email.png') }}" alt="Email sent"></p>
  <p class="pure-text-center">Email with password reset instructions has been sent.</p>
{% endblock %}
