{% extends "layouts/application.jinja2" %}

{% block content %}
  <p class="pure-text-center"><img src="{{ static('images/success.png') }}" alt="Email sent"></p>
  <p class="pure-text-center">Password reset successfully.</p>
  <p class="pure-text-center"><a class="pure-button pure-button-primary" href="{{ url_for('auth_login') }}">Log in</a></p>
{% endblock %}
