{% extends 'layouts/application.jinja2' %}

{% from 'macros/forms.jinja2' import control_group %}

{% block content %}
  <h1 class="pure-text-center">Password reset</h1>
  <form class="pure-form pure-form-stacked pure-display-block pure-center-block pure-u-1-2"
        method="post" action="">
    <div class="pure-control-group">{{ form.non_field_errors() }}</div>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" name="next" value="{{ url_for('home') }}"/>

    {{ control_group(form.email, placeholder='Enter your email...') }}


    <div class="pure-control-group">
      <button class="pure-button pure-button-primary"
              type="submit">Reset</button>
      <a class="pure-button"
         href="{{ url_for('home') }}">Cancel</a>
  </form>
{% endblock %}
