{% extends "layouts/application.jinja2" %}

{% from 'macros/forms.jinja2' import control_group %}

{% block content %}
  <h1 class="pure-text-center">Registration</h1>

  <form class="pure-form pure-form-stacked pure-display-block pure-center-block pure-u-1-2"
        method="post" action="{{ url_for('registration_register') }}">

    <div class="pure-control-group">{{ form.non_field_errors() }}</div>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {{ control_group(form.username, placeholder='john_doe') }}
    {{ control_group(form.email, placeholder='john_doe@gmail.com') }}
    {{ control_group(form.password1, placeholder='password') }}
    {{ control_group(form.password2, placeholder='password') }}

    <div class="pure-control-group">
      <button class="pure-button pure-button-primary"
              type="submit">Register</button>
      <a class="pure-button"
         href="{{ url_for('auth_login') }}">Log in</a>
    </div>
  </form>
{% endblock %}
