<!doctype html>
<html class="no-js" lang="{{ lang|default('en') }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Joovie{% endblock %}</title>
    {% block meta %}{% endblock %}

    {#- PureCSS Framework CSS #}
    <link rel="stylesheet" href="{{ static('css/pure-min.css') }}">
    <link rel="stylesheet" href="{{ static('css/pure-ext.css') }}">

    {#- jQuery CSS #}
    <link rel="stylesheet" href="{{ static('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/jquery-ui-ext.css') }}">
    <link rel="stylesheet" href="{{ static('css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/select2-ext.css') }}">

    {#- Custom CSS  #}
    <link rel="stylesheet" href="{{ static('css/theme.css') }}">
    <link rel="stylesheet" href="{{ static('css/votes.css') }}">
    <link rel="stylesheet" href="{{ static('css/snow.css') }}">
    <link href="{{ static('select2/css/select2.css') }}" type="text/css" media="all" rel="stylesheet">
    {%- block styles %}{% endblock %}

    <!-- Modernizr-like hook -->
    <script>document.documentElement.className = 'js';</script>
</head>

<body>
<canvas id="canvas"></canvas>
<div class="page-wrap">
    <header class="page-header">
        <div class="pure-container">
            <nav class="nav">
                <div class="nav-group">
                    <a href="{{ url_for('home') }}" class="logo">Joovie</a>

                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('movie_list', 1) }}">Discover</a>
                    <a href="{{ url_for('search:search', 1) }}">Search</a>
                </div>

                <div class="nav-group">
                    {%- if request.user.is_authenticated() %}
                      <a href="{{ url_for('auth_password_change') }}"><strong>{{ request.user.username }}</strong></a>
                      <a href="{{ url_for('watchlist') }}">Watchlist</a>
                      <a href="{{ url_for('blacklist') }}">Blacklist</a>
                      <a href="{{ url_for('rs:vote_list') }}">Votes</a>
                      <a href="{{ url_for('auth_logout') }}">Log out</a>
                    {% else %}
                      <a href="{{ url_for('auth_login') }}">Log in</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>

    <main class="page-main">
        <div class="pure-container">
            {% block content %}
                <h1>Hello! I'm Joovie!</h1>
            {% endblock %}
        </div>
    </main>

    <footer class="page-footer pure-text-center">
      <div class="pure-container">
        Copyright © Joovie, 2017
      </div>
    </footer>
</div>

{#- jQuery #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ static('js/jquery.min.js') }}"><\/script>')</script>

{#- Plugins and custom scripts #}
<script src="{{ static('js/jquery-ui.min.js') }}"></script>
<script src="{{ static('js/select2.min.js') }}"></script>
<script src="{{ static('js/votes.js') }}"></script>
<script src="{{ static('js/watchlist.js') }}"></script>
<script src="{{ static('js/blacklist.js') }}"></script>
<script src="{{ static('js/snow.js') }}"></script>
{#<script type="text/javascript" src="{{ static('select2/js/select2.jquery_ready.js') }}"></script>#}
{#<script type="text/javascript" src="{{ static('select2/js/select2.jquery_ui_sortable.js') }}"></script>#}
{#<script type="text/javascript" src="{{ static('select2/js/select2.js') }}"></script>#}
{%- block scripts %}{% endblock %}

</body>
</html>
