<!doctype html>
<html class="no-js" lang="{{ lang|default('en') }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{%- if title %}{{ title }} @ Joovie{% else %}Joovie{% endif %}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">

    <link rel="stylesheet" href="{{ static('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static('css/milligram.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/joovie.css') }}">
    <link rel="stylesheet" href="{{ static('css/snow.css') }}">

    <!-- Modernizr-like hook -->
    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    {% block head %}{% endblock %}
</head>

<body>
<canvas id="canvas"></canvas>
<main class="page">
    <nav class="page-nav nav">
        <div class="container">
            <div class="nav-group">
                <a href="{{ url_for('home') }}" class="logo">Joovie</a>

                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('movie_list', 1) }}">Discover</a>
                <a href="{{ url_for('search:search', 1) }}">Search</a>
            </div>

            <div class="nav-group">
                {%- if request.user.is_authenticated() %}
                  <a href="{{ url_for('auth_password_change') }}"><strong>{{ request.user.username }}</strong></a>
                  <a href="{{ url_for('watchlist') }}">Watchlist</a>
                  <a href="{{ url_for('blacklist') }}">Blacklist</a>
                  <a href="{{ url_for('rs:vote_list') }}">Votes</a>
                  <a href="{{ url_for('auth_logout') }}">Log out</a>
                {% else %}
                    <a href="{{ url_for('auth_login') }}">Log in</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}
        <div class="container">
            <h1>Hello, World!</h1>
        </div>
    {% endblock %}

    <footer class="page-footer text-center">
        <div class="container">
          Copyright © Joovie, 2017
        </div>
    </footer>
</main>

<script src="{{ static('js/votes.js') }}"></script>
<script src="{{ static('js/watchlist.js') }}"></script>
<script src="{{ static('js/blacklist.js') }}"></script>
<script src="{{ static('js/snow.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
