/*!
 * Joovie CSS
 */
.control-group {
  margin-bottom: 2rem;
}

/* Logo */
.logo {
  display: inline-block;
  margin-right: 2rem;
  font-weight: bold;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1050;
  display: none;
  min-width: 50%;
  max-width: 100%;
  min-height: 20rem;
  max-height: 100%;
  padding: 1rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.modal.in {
  display: block;
}

.in-modal {
  overflow: hidden;
}

.in-modal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1040;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Navigation */
.nav {
  display: block;
  padding: 1.6rem 0;
  line-height: 1;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.nav a {
  display: inline-block;
  color: inherit;
  opacity: .8;
}

.nav a:not(:last-of-type) {
  margin-right: 1rem;
}

.nav a:hover,
.nav a:focus {
  opacity: 1;
}

.nav .logo {
  opacity: 1;
}

.nav-group {
  padding: 0 1rem;
}

.vote-stars {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  word-spacing: .25rem;
  direction: rtl;
  vertical-align: middle;
  text-align: left;
}

.vote-stars input {
  display: none;
}

.vote-stars label {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.075 475.075" fill="%23F4F5F6"><path d="M475.075 186.573c0-7.043-5.328-11.42-15.992-13.135L315.766 152.6 251.529 22.694c-3.614-7.804-8.281-11.704-13.99-11.704-5.708 0-10.372 3.9-13.989 11.704L159.31 152.6 15.986 173.438C5.33 175.153 0 179.53 0 186.573c0 3.999 2.38 8.567 7.139 13.706l103.924 101.068L86.51 444.096c-.381 2.666-.57 4.575-.57 5.712 0 3.997.998 7.374 2.996 10.136 1.997 2.766 4.993 4.142 8.992 4.142 3.428 0 7.233-1.137 11.42-3.423l128.188-67.386 128.197 67.386c4.004 2.286 7.81 3.423 11.416 3.423 3.819 0 6.715-1.376 8.713-4.142 1.992-2.758 2.991-6.139 2.991-10.136 0-2.471-.096-4.374-.287-5.712l-24.555-142.749 103.637-101.068c4.956-4.949 7.427-9.519 7.427-13.706z"/></svg>') no-repeat center/contain;
  color: transparent;
}

.vote-stars input.average ~ label {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.075 475.075" fill="%23606C76"><path d="M475.075 186.573c0-7.043-5.328-11.42-15.992-13.135L315.766 152.6 251.529 22.694c-3.614-7.804-8.281-11.704-13.99-11.704-5.708 0-10.372 3.9-13.989 11.704L159.31 152.6 15.986 173.438C5.33 175.153 0 179.53 0 186.573c0 3.999 2.38 8.567 7.139 13.706l103.924 101.068L86.51 444.096c-.381 2.666-.57 4.575-.57 5.712 0 3.997.998 7.374 2.996 10.136 1.997 2.766 4.993 4.142 8.992 4.142 3.428 0 7.233-1.137 11.42-3.423l128.188-67.386 128.197 67.386c4.004 2.286 7.81 3.423 11.416 3.423 3.819 0 6.715-1.376 8.713-4.142 1.992-2.758 2.991-6.139 2.991-10.136 0-2.471-.096-4.374-.287-5.712l-24.555-142.749 103.637-101.068c4.956-4.949 7.427-9.519 7.427-13.706z"/></svg>');
}

.vote-stars input:checked ~ label {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.075 475.075" fill="%239B4DCA"><path d="M475.075 186.573c0-7.043-5.328-11.42-15.992-13.135L315.766 152.6 251.529 22.694c-3.614-7.804-8.281-11.704-13.99-11.704-5.708 0-10.372 3.9-13.989 11.704L159.31 152.6 15.986 173.438C5.33 175.153 0 179.53 0 186.573c0 3.999 2.38 8.567 7.139 13.706l103.924 101.068L86.51 444.096c-.381 2.666-.57 4.575-.57 5.712 0 3.997.998 7.374 2.996 10.136 1.997 2.766 4.993 4.142 8.992 4.142 3.428 0 7.233-1.137 11.42-3.423l128.188-67.386 128.197 67.386c4.004 2.286 7.81 3.423 11.416 3.423 3.819 0 6.715-1.376 8.713-4.142 1.992-2.758 2.991-6.139 2.991-10.136 0-2.471-.096-4.374-.287-5.712l-24.555-142.749 103.637-101.068c4.956-4.949 7.427-9.519 7.427-13.706z"/></svg>');
}

.js .vote-submit {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.page {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 4.8rem 0 4.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #9b4dca;
  color: #fff;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1010;
}

.page-main {
  padding: 2rem 0;
}

.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #d1d1d1;
  color: #606c76;
  padding: 1rem 0;
}

/* General */
.movie-hero {
  position: relative;
  padding: 2rem 0;
  overflow: hidden;
  background: #fff no-repeat center/cover;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.movie-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.movie-hero > * {
  position: relative;
  z-index: 10;
}

.movie-hero-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #fff no-repeat center/cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.movie-poster {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.movie-section {
  padding: 2rem 0;
}

.movie-facts dt {
  margin: 0;
  font-weight: bold;
}

.movie-facts dd {
  margin: 0 0 1rem;
}

.movie-facts dd:last-of-type {
  margin-bottom: 2rem;
}

.movie-actor {
  padding: 1rem !important;
}

.movie-actor-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie-actor-picture {
  position: relative;
  width: 100%;
  height: 0;
  margin: 0 0 1rem;
  padding: 0 0 120%;
  background: #f4f5f6;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  color: #606c76;
}

.movie-actor-picture img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.movie-actor-name {
  margin: 0;
}

.movie-actor-role {
  margin: 0;
  font-style: italic;
}

.movie-video-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* List */
.movie-list > .column {
  padding: 1rem;
}

/* Card */
.movie-card {
  padding: 1rem;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.movie-card > * {
  margin: 0 0 1rem;
}

.movie-card > *:last-child {
  margin-bottom: 0;
}

.movie-card-title {
  font-size: 2.2rem;
}

.movie-card-details {
  padding: 0;
  list-style: none;
}

.movie-card-details li {
  display: inline;
}

.movie-card-details li::after {
  content: ' \2022 ';
}

.movie-card-details li:last-of-type::after {
  content: none;
}

.movie-card-picture {
  position: relative;
  margin: -1rem -1rem 1rem;
  padding: 0 0 57%;
  background: #606c76;
}

.movie-card-picture img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.movie-card-vote-number {
  font-weight: bold;
}

.movie-card-vote-number::before {
  content: "";
  position: relative;
  top: .07em;
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.075 475.075" fill="%23606C76"><path d="M475.075 186.573c0-7.043-5.328-11.42-15.992-13.135L315.766 152.6 251.529 22.694c-3.614-7.804-8.281-11.704-13.99-11.704-5.708 0-10.372 3.9-13.989 11.704L159.31 152.6 15.986 173.438C5.33 175.153 0 179.53 0 186.573c0 3.999 2.38 8.567 7.139 13.706l103.924 101.068L86.51 444.096c-.381 2.666-.57 4.575-.57 5.712 0 3.997.998 7.374 2.996 10.136 1.997 2.766 4.993 4.142 8.992 4.142 3.428 0 7.233-1.137 11.42-3.423l128.188-67.386 128.197 67.386c4.004 2.286 7.81 3.423 11.416 3.423 3.819 0 6.715-1.376 8.713-4.142 1.992-2.758 2.991-6.139 2.991-10.136 0-2.471-.096-4.374-.287-5.712l-24.555-142.749 103.637-101.068c4.956-4.949 7.427-9.519 7.427-13.706z"/></svg>') no-repeat center/cover;
}

/* Modal */
.movie-modal {
  width: 90%;
  height: 90vh;
}

.movie-modal iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Text */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/*# sourceMappingURL=joovie.css.map */
