/**
 * Layout
 */

/* Container */

.pure-container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 1120px;
}


/* Boxes */

.box {
  box-sizing: border-box;
  padding: 1rem;
}

.photo-box img {
  width: 100%;
}


/**
 * Forms
 */

label {
  font-weight: bold;
}

.pure-control-group {
  margin-bottom: 1.5rem;
}

.pure-form-message-error {
    display: block;
    color: red;
    font-size: 0.875em;
}


/**
 * Utilities
 */

/* Blocks */

.pure-center-block {
  margin-left: auto;
  margin-right: auto;
}

.pure-display-block {
  display: block !important;
}


/* Text */

.pure-text-left {
  text-align: left !important;
}

.pure-text-center {
  text-align: center !important;
}

.pure-text-right {
  text-align: right !important;
}
