canvas{
    height: 100%;
    position: fixed;
    background-image: linear-gradient(bottom, rgb(195, 229, 247) 0%, rgb(23,82,145) 84%);
    background-image: -o-linear-gradient(bottom, rgb(195, 229, 247) 0%, rgb(23,82,145) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(195, 229, 247) 0%, rgb(23,82,145) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(195, 229, 247) 0%, rgb(23,82,145) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(195, 229, 247) 0%, rgb(23,82,145) 84%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(195, 229, 247)),
        color-stop(0.84, rgb(195, 229, 247))
    );
}
