/* Generic */

body {
  color: #212121;
}

a {
  color: #0078e7;
  text-decoration: none;
  transition: .2s;
}

a:hover,
a:focus {
  color: #004d98;
}


/* Layout */

html,
body {
  width: 100%;
  height: 100%;
}

.page-wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 4.5rem 0 3.5rem;
  box-sizing: border-box;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: #0078e7;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,.25);
  z-index: 100;
}

.page-main {
  padding: 1.5rem 0;
}

.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eee;
  color: #757575;
  padding: 1rem 0;
}


/* Logo */

.logo {
  display: inline-block;
  margin-right: 2rem;
  font-weight: bold;
}


/* Navigation */

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 -.625rem;
  line-height: 1;
}

.nav a {
  display: inline-block;
  color: inherit;
  opacity: .8;
}

.nav a:not(:last-of-type) {
  margin-right: .625rem;
}

.nav a:hover,
.nav a:focus {
  opacity: 1;
}

.nav .logo {
  opacity: 1;
}

.nav-group {
  padding: 0 0.625rem;
}
