.modal
  position: absolute
  top: 50%
  left: 50%
  z-index: 1050
  display: none
  min-width: 50%
  max-width: 100%
  min-height: 20rem
  max-height: 100%
  padding: 1rem
  transform: translate(-50%,-50%)
  background: $color-initial
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.5)

  &.in
    display: block

.in-modal
  overflow: hidden

  &::after
    content: ""
    position: absolute
    top: 0
    left: 0
    z-index: 1040
    display: block
    width: 100%
    height: 100%
    background: rgba(0,0,0,.5)
