/* General

.movie

.movie-hero
  position: relative
  padding: 2rem 0
  overflow: hidden
  background: $color-initial no-repeat (center / cover)
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.25)

  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    z-index: 5
    display: block
    width: 100%
    height: 100%
    background: rgba($color-initial, 0.9)

  > *
    position: relative
    z-index: 10

.movie-hero-backdrop
  position: absolute
  top: 0
  left: 0
  z-index: 0
  width: 100%
  height: 100%
  background: $color-initial no-repeat (center / cover)
  filter: blur(10px)

.movie-title

.movie-poster
  display: block
  width: 100%
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.25)

.movie-section
  padding: 2rem 0

.movie-facts
  dt
    margin: 0
    font-weight: bold

  dd
    margin: 0 0 1rem

    &:last-of-type
      margin-bottom: 2rem

.movie-actor
  padding: 1rem !important

.movie-actor-list
  flex-wrap: wrap

.movie-actor-picture
  position: relative
  width: 100%
  height: 0
  margin: 0 0 1rem
  padding: 0 0 120%
  background: $color-tertiary
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.25)
  color: $color-secondary

  img
    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    object-fit: cover

.movie-actor-name
  margin: 0

.movie-actor-role
  margin: 0
  font-style: italic

.movie-video-list
  flex-wrap: wrap


/* List

.movie-list
  > .column
    padding: 1rem


/* Card

.movie-card
  padding: 1rem
  height: 100%
  background: $color-initial
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.25)

  > *
    margin: 0 0 1rem

    &:last-child
      margin-bottom: 0

.movie-card-title
  font-size: 2.2rem

.movie-card-details
  padding: 0
  list-style: none

  li
    display: inline

    &::after
      content: ' \2022 '

    &:last-of-type::after
      content: none

.movie-card-picture
  position: relative
  margin: -1rem -1rem 1rem
  padding: 0 0 57%
  background: $color-secondary

  img
    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    object-fit: cover

.movie-card-vote-number
  font-weight: bold

  &::before
    content: ""
    position: relative
    top: .07em
    display: inline-block
    width: 1em
    height: 1em
    background: url(star($color-secondary)) no-repeat center / cover


/* Modal

.movie-modal
  width: 90%
  height: 90vh

  iframe
    width: 100%
    height: 100%
    border: 0
