/* Navigation

.nav
  display: block
  padding: 1.6rem 0
  line-height: 1

.nav .container
  display: flex
  justify-content: space-between
  padding: 0 1rem

.nav a
  display: inline-block
  color: inherit
  opacity: .8

.nav a:not(:last-of-type)
  margin-right: 1rem

.nav a:hover,
.nav a:focus
  opacity: 1

.nav .logo
  opacity: 1

.nav-group
  padding: 0 1rem
