html,
body
  width: 100%
  height: 100%

.page
  position: relative
  width: 100%
  min-height: 100%
  padding: (3 * 1.6rem) 0 (2rem + 1.5 * 1.6rem)
  box-sizing: border-box

.page-nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  background: $color-primary
  color: $color-initial
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.25)
  z-index: 1010

.page-main
  padding: 2rem 0

.page-footer
  position: absolute
  right: 0
  bottom: 0
  left: 0
  background: $color-quaternary
  color: $color-secondary
  padding: 1rem 0
