{% macro blacklist_action_form(movie, in_blacklist, token=csrf_token, next=request.path) %}
    <form action="{{ url_for('blacklist_action', movie.id) }}" method="post"
          class="blacklist-action-form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ token }}">
        <input type="hidden" name="next" value="{{ next }}">
         {%- if not in_blacklist %}
            <input type="submit" value="Block" class="blacklist-action-submit">
        {% else %}
            <input type="submit" value="Unblock" class="blacklist-action-submit">
        {% endif %}
    </form>
{% endmacro %}
