{#
  Generates range slider for search
#}
{% macro slider_field(name,
  lower_bound, upper_bound,
  min_value, max_value,
  label='', value_prefix='') %}

  {% set label = label if label else name|capitalize %}
  {% set lower = lower_bound.value() if lower_bound.value() else max_value %}
  {% set upper = upper_bound.value() if upper_bound.value() else min_value %}

  <div class="control-group pure-control-group filter-field filter-field-slider"
       data-min="{{ min_value }}" data-max="{{ max_value }}"
       data-prefix="{{ value_prefix }}">

    <input class="slider-lower" type="hidden" name="{{ name }}__lte"
           value="{{ lower }}">
    <input class="slider-upper" type="hidden" name="{{ name }}__gte"
           value="{{ upper }}">

    <div class="slider-meta">
      <span class="slider-label">{{ label }}</span>
      <span class="slider-values"></span>
    </div>

    <div class="slider-container" id="slider-{{ name }}"></div>
  </div>
{% endmacro %}
