{% macro restful_control_group(field, path, placeholder='') %}
  <div class="pure-control-group">
    {{ field.label_tag() }}
    {%- if field.help_text %}
      <p class="pure-form-message">{{ field.help_text }}</p>
    {% endif %}
    <select class="pure-u-1 ajax" id="{{ field.name }}" name="{{ field.name }}"
            multiple="multiple"
            data-ajax-url="/select2/fetch_items/{{ path }}/?q"
            data-init-selection-url="/select2/init_selection/{{ path }}/">
    </select>
    {#        {{ field|attrs(class='pure-u-1', placeholder=placeholder) }}#}
    {%- if field.errors %}
      <div class="pure-form-message">{{ field.errors }}</div>
    {% endif %}
  </div>
{% endmacro %}
