{#
  Generates voting form
  Should take context
#}
{% macro vote_form(movie, vote=-1, token=csrf_token, next=request.path) %}
  <form action="{{ url_for('rs:vote', movie.id) }}" method="post"
        class="vote-form">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ token }}">
    <input type="hidden" name="next" value="{{ next }}">

    <div class="vote-stars">
      {% for i in range(10, 0, -1) %}
        {%- set className = 'average'
                if i == (movie.vote_average|round|int)
                else '' %}
        {%- set checked = 'checked' if i == vote else '' %}

        <input type="radio" name="value" value="{{ i }}" {{ checked }}
               class="{{ className }}"
               id="vote-{{ movie.id }}-{{ i }}">
        <label for="vote-{{ movie.id }}-{{ i }}">{{ i }}</label>
      {% endfor %}
    </div>

    <input type="submit" value="Vote" class="vote-submit">
  </form>
{% endmacro %}
