{% macro watchlist_action_form(movie, in_watchlist=in_watchlist, token=csrf_token, next=request.path) %}
    <form action="{{ url_for('watchlist_action', movie.id) }}" method="post"
          class="watchlist-action-form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ token }}">
        <input type="hidden" name="next" value="{{ next }}">
        {%- if not in_watchlist %}
            <input type="submit" value="Add to watchlist" class="watchlist-action-submit">
        {% else %}
            <input type="submit" value="Delete from watchlist" class="watchlist-action-submit">
        {% endif %}
    </form>
{% endmacro %}
