{% extends "layouts/milligram.jinja2" %}

{% from "macros/votes.jinja2" import vote_form with context %}
{% from "macros/forms.jinja2" import control_group %}
{% from "macros/select2.jinja2" import restful_control_group %}
{% from "macros/range-slider.jinja2" import slider_field %}

{% block head %}
  <link rel="stylesheet" href="{{ static('css/jquery-ui.min.css') }}">
  <link rel="stylesheet" href="{{ static('css/jquery-ui-ext.css') }}">
  <link rel="stylesheet" href="{{ static('css/select2.min.css') }}">
  <link rel="stylesheet" href="{{ static('css/select2-ext.css') }}">
{% endblock %}

{% block content %}
  <div class="page-main">
    <div class="container">
      <div class="row">
        <div class="column column-25">
          <aside class="filters box">
            <form action="" method="get"
                  class="pure-form pure-form-stacked">

          {{ filter.form.non_field_errors() }}

          {{ control_group(filter.form.title__icontains) }}

          {{ slider_field('release_date__year',
            filter.form.release_date__year__lte,
            filter.form.release_date__year__gte,
            min_year,
            max_year,
            label='Release date'
          ) }}

          {{ slider_field('runtime',
            filter.form.runtime__lte,
            filter.form.runtime__gte,
            min_runtime,
            max_runtime
          ) }}

          {{ slider_field('budget',
            filter.form.budget__lte,
            filter.form.budget__gte,
            min_budget,
            max_budget,
            value_prefix='$'
          ) }}

          {{ slider_field('revenue',
            filter.form.revenue__lte,
            filter.form.revenue__gte,
            min_revenue,
            max_revenue,
            value_prefix='$'
          ) }}

          {{ slider_field('vote_average',
            filter.form.vote_average__lte,
            filter.form.vote_average__gte,
            0,
            10,
            label='Average vote'
          ) }}

          {{ restful_control_group(filter.form.companies, 'tmdb/movie/companies') }}
          {{ control_group(filter.form.countries) }}
          {{ restful_control_group(filter.form.keywords, 'tmdb/movie/keywords') }}
                    {{ control_group(filter.form.genres, 'tmdb/movie/genres') }}


          <div class="pure-control-group">
            <button class="pure-button pure-button-primary" type="submit">
              Filter
            </button>
          </div>
        </form>
      </aside>
    </div>

        <div class="column column-75">
          <div class="search-results">
            {% for movie in object_list %}
              <div class="row">
                <div class="column column-33">
                  <a href="{{ url_for('movie', movie.pk) }}">
                    <img srcset="{{ tmdb_image(movie.poster_path, 'set') }}"
                         src="{{ tmdb_image(movie.poster_path) }}"
                         alt="{{ movie.title }}">
                  </a>
                </div>

                <div class="column column-67">
                  <h4>
                    <a href="{{ url_for('movie', movie.pk) }}">
                      {{ movie.title }}
                      <em>({{ movie.release_date.year }})</em>
                    </a>
                    <br>
                    <small
                        style="font-style: italic;">{{ movie.original_title }}</small>
                  </h4>

                  <p>{{ movie.overview_en }}</p>

                  {%- if request.user.is_authenticated() %}
                    {{ vote_form(movie, vote_dict[movie.pk]) }}
                  {% endif %}
                </div>
              </div>
            {% else %}
              <p>Nothing found</p>
            {% endfor %}

            {% if is_paginated %}
              <div class="pagination text-center">
                {% if page_obj.has_previous() %}
                  <a href="{{ url_for('search:search', page=page_obj.previous_page_number()) }}?{{ request.GET.urlencode() }}">Previous</a>
                {% endif %}

                <span class="page-current">
                  {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next() %}
                  <a href="{{ url_for('search:search', page=page_obj.next_page_number()) }}?{{ request.GET.urlencode() }}">Next</a>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ static('js/jquery.min.js') }}"><\/script>')</script>

  <script src="{{ static('js/jquery-ui.min.js') }}"></script>
  <script src="{{ static('js/select2.min.js') }}"></script>

  <script>
    $(document).ready(function () {
      // Process sliders
      $('.filter-field-slider').each(function () {
        var $this = $(this);
        var $sliderContainer = $this.find('.slider-container');
        var $valuesBound = $this.find('.slider-values');
        var $lowerBound = $this.find('.slider-lower');
        var $upperBound = $this.find('.slider-upper');

        var minValue = +$this.attr('data-min');
        var maxValue = +$this.attr('data-max');
        var prefix = $this.attr('data-prefix');

        function formatNumber(n) {
          if (n >= 10e9) return (n / 10e9).toFixed(1) + 'B';
          if (n >= 10e6) return (n / 10e6).toFixed(1) + 'M';
          if (n >= 10e3) return (n / 10e6).toFixed(1) + 'K';
          return n;
        }

        function concatRange(lower, upper, prefix) {
          prefix = prefix || '';
          return prefix + formatNumber(lower) + ' &minus; '
            + prefix + formatNumber(upper);
        }

        $sliderContainer.slider({
          range: true,
          min: minValue,
          max: maxValue,
          values: [$upperBound.val(), $lowerBound.val()],

          slide: function (event, ui) {
            $valuesBound.html(concatRange(ui.values[0], ui.values[1], prefix));
            $lowerBound.val(ui.values[1]);
            $upperBound.val(ui.values[0]);
          }
        });

        $valuesBound.html(concatRange(
          $sliderContainer.slider('values', 0),
          $sliderContainer.slider('values', 1),
          prefix
        ));
        $lowerBound.val($sliderContainer.slider('values', 1));
        $upperBound.val($sliderContainer.slider('values', 0));
      });

      // Process select fields
      $('select[multiple]').select2();
      $('select[multiple].ajax').select2({
        ajax: {
          data: function (params) {
            // Query paramters will be ?search=[term]&page=[page]
            return {
              q: params.term,
              page: params.page
            };
          },
          processResults: function (data) {
            return {
              results: data.results
            };
          }
        },
      });
    });
  </script>
{% endblock %}
