{% extends "layouts/application.jinja2" %}

{% block content %}
  {% for movie in object_list %}

    <div class="pure-g">
      <div class="pure-u-1-4 box photo-box">
        <a href="{{ url_for('movie', movie.pk) }}">
          <img src="https://image.tmdb.org/t/p/w342{{ movie.poster_path }}"
               alt="{{ movie.title }}">
        </a>
      </div>

      <div class="pure-u-3-4 box">
        <h4>
          <a href="{{ url_for('movie', movie.pk) }}">{{ movie.title }}</a>
          <br>
          <small style="font-style: italic;">{{ movie.original_title }}</small>
        </h4>

        <p>{{ movie.overview_en }}</p>

      </div>
    </div>
  {% endfor %}
{% endblock %}
