{% extends "layouts/milligram.jinja2" %}

{% from "macros/votes.jinja2" import vote_form with context %}

{% block content %}
  <div class="page-main">
    <div class="container">
      {% if user_based_recommendations or content_based_recommendations %}
      <h2>We recommend</h2>
      <div class="row row-wrap row-stretch movie-list">
        {% for movie in user_based_recommendations %}
          <div class="column column-25">
            <section class="movie-card">
              <div class="movie-card-picture">
                <a href="{{ url_for('movie', movie.pk) }}">
                  <img srcset="{{ tmdb_image(movie.backdrop_path, 'set') }}"
                       src="{{ tmdb_image(movie.backdrop_path, 'w500') }}"
                       alt="{{ movie.title }}">
                </a>
              </div>

              <h3 class="movie-card-title">
                <a href="{{ url_for('movie', movie.pk) }}">
                  {{ movie.title }}
                </a>
              </h3>

              <ul class="movie-card-details">
                {%- if movie.release_date %}
                  <li>{{ movie.release_date.year }}</li>
                {% endif %}

                <li>
                  {{ movie.genres.all()|join(', ') }}
                </li>

                <li class="movie-card-vote-number">
                  {{ movie.vote_average }}
                </li>
              </ul>
            </section>
          </div>
        {% endfor %}
        {% for movie in content_based_recommendations %}
          <div class="column column-25">
            <section class="movie-card">
              <div class="movie-card-picture">
                <a href="{{ url_for('movie', movie.pk) }}">
                  <img srcset="{{ tmdb_image(movie.backdrop_path, 'set') }}"
                       src="{{ tmdb_image(movie.backdrop_path, 'w500') }}"
                       alt="{{ movie.title }}">
                </a>
              </div>

              <h3 class="movie-card-title">
                <a href="{{ url_for('movie', movie.pk) }}">
                  {{ movie.title }}
                </a>
              </h3>

              <ul class="movie-card-details">
                {%- if movie.release_date %}
                  <li>{{ movie.release_date.year }}</li>
                {% endif %}

                <li>
                  {{ movie.genres.all()|join(', ') }}
                </li>

                <li class="movie-card-vote-number">
                  {{ movie.vote_average }}
                </li>
              </ul>
            </section>
          </div>
        {% endfor %}
      </div>
      {% endif %}
      <h2>Popular</h2>
      <div class="row row-wrap row-stretch movie-list">
        {% for movie in popular_movies %}
          <div class="column column-25">
            <section class="movie-card">
              <div class="movie-card-picture">
                <a href="{{ url_for('movie', movie.pk) }}">
                  <img srcset="{{ tmdb_image(movie.backdrop_path, 'set') }}"
                       src="{{ tmdb_image(movie.backdrop_path, 'w500') }}"
                       alt="{{ movie.title }}">
                </a>
              </div>

              <h3 class="movie-card-title">
                <a href="{{ url_for('movie', movie.pk) }}">
                  {{ movie.title }}
                </a>
              </h3>

              <ul class="movie-card-details">
                {%- if movie.release_date %}
                  <li>{{ movie.release_date.year }}</li>
                {% endif %}

                <li>
                  {{ movie.genres.all()|join(', ') }}
                </li>

                <li class="movie-card-vote-number">
                  {{ movie.vote_average }}
                </li>
              </ul>
            </section>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
