{% extends "layouts/milligram.jinja2" %}

{% from "macros/votes.jinja2" import vote_form with context %}

{% block content %}
  <div class="page-main">
    <div class="container">
      <div class="row row-wrap row-stretch movie-list">
        {% for movie in object_list %}
          <div class="column column-25">
            <section class="movie-card">
              <div class="movie-card-picture">
                <a href="{{ url_for('movie', movie.pk) }}">
                  <img srcset="{{ tmdb_image(movie.backdrop_path, 'set') }}"
                       src="{{ tmdb_image(movie.backdrop_path, 'w500') }}"
                       alt="{{ movie.title }}">
                </a>
              </div>

              <h3 class="movie-card-title">
                <a href="{{ url_for('movie', movie.pk) }}">
                  {{ movie.title }}
                </a>
              </h3>

              <ul class="movie-card-details">
                {%- if movie.release_date %}
                  <li>{{ movie.release_date.year }}</li>
                {% endif %}

                <li>
                  {{ movie.genres.all()|join(', ') }}
                </li>

                <li class="movie-card-vote-number">
                  {{ movie.vote_average }}
                </li>
              </ul>
            </section>
          </div>
        {% endfor %}
      </div>

      {% if is_paginated %}
        <div class="pagination pure-text-center">
          {% if page_obj.has_previous() %}
            <a href="{{ url_for('movie_list', page_obj.previous_page_number()) }}">Previous</a>
          {% endif %}

          <span class="page-current">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>

          {% if page_obj.has_next() %}
            <a href="{{ url_for('movie_list', page_obj.next_page_number()) }}">Next</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
