{% extends "layouts/milligram.jinja2" %}

{% from "macros/votes.jinja2" import vote_form with context %}
{% from "macros/watchlist-action.jinja2" import watchlist_action_form with context %}
{% from "macros/blacklist-action.jinja2" import blacklist_action_form with context %}

{% block content %}
  <article class="movie">
    <div class="movie-hero"
         style="background-image: url({{ tmdb_image(movie.backdrop_path) }});">
      <div class="container">
        <div class="row">
          <div class="column column-25">
            <img src="{{ tmdb_image(movie.poster_path, 'w500') }}"
                 alt="{{ movie.title }}"
                 class="movie-poster">
          </div>

          <div class="column column-75">
            <header class="movie-header">
              <h1 class="movie-title">
                {{ movie.title }}
              </h1>
            </header>

            <section id="overview">
              {%- if request.user.is_authenticated() %}
                <div class="row">
                  {{ blacklist_action_form(movie, in_blacklist) }}
                  <div class="column column-67">
                    {{ vote_form(movie, vote) }}
                  </div>
                  <div class="column column-33 text-right">
                    <strong>{{ movie.vote_average }}</strong>
                    by {{ movie.vote_count }}
                    vote{{ movie.vote_count|pluralize }}
                  </div>
                </div>
              {% else %}
                <div>
                  <strong>{{ movie.vote_average }}</strong>
                  by {{ movie.vote_count }} vote{{ movie.vote_count|pluralize }}
                </div>
              {% endif %}

              {% if movie.overview_en %}
                <p class="movie-overview">{{ movie.overview_en }}</p>
              {% endif %}

              <div class="movie-actions">
                {% set trailer = movie.get_trailer %}
                {% if trailer %}
                  <a href="{{ video_url(trailer) }}"
                     data-site="{{ trailer.site }}" data-key="{{ trailer.key }}"
                     class="button movie-trailer-link">
                    Watch trailer
                  </a>
                {% endif %}
                {%- if request.user.is_authenticated() %}
                    {{ watchlist_action_form(movie, in_watchlist) }}
                {% endif %}
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <div class="movie-content">
      <div class="container">
        <div class="row">
          <div class="column column-75 movie-main">
            {% set characters = movie.character_set.all().order_by('order') %}
            {% if characters.count() > 0 %}
              <section class="movie-section" id="cast">
                <h2>Cast</h2>

                <div class="row movie-actor-list">
                  {% for character in characters %}
                    <div class="column column-33 movie-actor">
                      <div class="movie-actor-picture">
                        {% if character.picture %}
                        <img src="{{ tmdb_image(character.picture, 'w300') }}"
                             alt="{{ character.actor }}">
                        {% else %}
                        <img src="{{ static('images/actor-placeholder-0%d.png' | format(range(1, 4) | random)) }}"
                             alt="{{ character.actor }}">
                        {% endif %}
                      </div>

                      <h5 class="movie-actor-name">
                        {{ character.actor }}
                      </h5>

                      <p class="movie-actor-role">
                        {{ character.character }}
                      </p>
                    </div>
                  {% endfor %}
                </div>
              </section>
            {% endif %}

            {#{% set videos # movie.video_set.all() %}#}
            {% if false %}
              <section class="movie-section" id="videos">
                <h2>Videos</h2>

                <div class="row movie-video-list">
                  {% for video in videos %}
                    <div class="column column-33">
                      {{ video }}
                    </div>
                  {% endfor %}
                </div>
              </section>
            {% endif %}
          </div>

          <div class="column column-25 movie-sidebar">
            <section class="movie-section" id="stats">
              <h2>Facts</h2>

              <dl class="movie-facts">
                <dt>Status</dt>
                <dd>{{ movie.status|capitalize }}</dd>

                {% if movie.release_date %}
                  <dt>Release information</dt>
                  <dd>{{ movie.release_date.strftime('%B %d, %Y') }}</dd>
                {% endif %}

                <dt>Original language</dt>
                <dd>{{ movie.original_language|capitalize }}</dd>

                {% if movie.runtime %}
                  <dt>Runtime</dt>
                  <dd>{{ '%dh %dm'|format(
                    movie.runtime / 60,
                    movie.runtime % 60
                  ) }}</dd>
                {% endif %}

                {% if movie.budget %}
                  <dt>Budget</dt>
                  <dd>{{ '$&nbsp;{:,}'
                    .format(movie.budget|int)
                    .replace(',', '&nbsp;') | safe }}</dd>
                {% endif %}

                {% if movie.revenue %}
                  <dt>Revenue</dt>
                  <dd>{{ '$&nbsp;{:,}'
                    .format(movie.revenue|int)
                    .replace(',', '&nbsp;') | safe }}</dd>
                {% endif %}

                {% if movie.homepage %}
                  <dt>Homepage</dt>
                  <dd>
                    <a href="{{ movie.homepage }}">{{ movie.homepage }}</a>
                  </dd>
                {% endif %}

                {% if movie.adult %}
                  <dt>Restrictions</dt>
                  <dd>Adult movie, <strong>18+</strong></dd>
                {% endif %}
              </dl>
            </section>

            <section class="movie-section" id="genres">
              <h2>Genres</h2>

              <ul class="movie-genres">
                {% for genre in movie.genres.values() %}
                  <li>{{ genre.name }}</li>
                {% endfor %}
              </ul>
            </section>

            <section class="movie-section">
              <h2>Keywords</h2>

              <ul class="movie-keywords">
                {% for keyword in movie.keywords.values() %}
                  <li>{{ keyword.name }}</li>
                {% endfor %}
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}

{% block scripts %}
  <div class="modal movie-modal"></div>
  <script src="{{ static('js/trailer.js') }}"></script>
{% endblock %}
